*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {

}

.header{
    height: 100%;
    background-color: #e0f2f1;
    padding:0 10px;
}

.profile-picture{
    display: block;
    height: 10vh;
    width: 10vh;
}

.image-wrapper{
  max-width: 17%;
  position: relative;
  margin: 3% 0px 3% 5%;
}

.image-wrapper img{
  width: 100%;
  display: block;
  border-radius: 50%;
}

.image-wrapper::before{
  content: "";
  position: absolute;
  inset: -15px;
  border: 6px solid var(--bg-clr);
  border-top-color: #45B29A;
  border-bottom-color: #45B29A;
  border-radius: 50%;
  zoom: -1;
  animation: spin 3s linear infinite;
}

@keyframes spin{
  to{transform:rotate(360deg);}
}

.top-cloud{
    padding-left: 70%;
    width: 100%;
}

.heading{
    text-align: center;
}

.heading-primary{
display: block;
position: relative;
text-transform: uppercase;
}

.heading-secondary{
display: block;
text-transform: uppercase;
}

.bottom-cloud{
    width: 100%;
    padding-right: 70%;
}

.mountain-img {
width: 100%;
}

hr {
    margin-left: 35%;
    width: 30%;
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
}
